.countdown-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(192, 190, 190, 0.356);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.countdown-modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    width: 200px;
    height: 200px;

    border-radius: 50%;
    border: 20px rgb(26, 26, 190) solid;
}

.countdown-modal-txt {
    color: rgb(26, 26, 190);
    font-size: 56px;
    font-weight: bold;

    z-index: 3;
}